.main-menu {
  position: absolute;
  top: 30px;
  right: 70px;
}

.main-menu-close {
  text-align: right;
  font-size: 25px;

  div {
    display: inline-block;
    cursor: pointer;
  }
}

.main-menu-modal {
  background-color: #fff;

  ul {
    padding: 0;
    list-style-type: none;

    li {
      padding: 10px 30px;

      &.menu-item-section {
        font-size: 20px;
        font-weight: bold;

        &.current-page {}

        &.complete {}
      }

      .menu-item-page {
        overflow: visible;
        cursor: pointer;
        border: 0;
        background: none;
        position: relative;

        &:before {
          position: absolute;
          left: -20px;
        }

        &.current-page {
          font-weight: bold;
        }

        &.complete {
          &:before {
            font-family: 'Font Awesome 5 Pro';
            content: '\f00c';
            font-weight: lighter;
          }
        }
      }
    }
  }
}