@use '../variables' as *;

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes slideInRight {
  from {
    right: -100%;
  }

  to {
    right: 0;
  }
}

@keyframes slideOutRight {
  from {
    right: 0;
  }

  to {
    right: -100%;
  }
}

@keyframes slideInLeft {
  from {
    left: -100%;
  }

  to {
    left: 0;
  }
}

@keyframes slideOutLeft {
  from {
    left: 0;
  }

  to {
    left: -100%;
  }
}

@keyframes slideInTop {
  from {
    top: -100%;
  }

  to {
    top: 0;
  }
}

@keyframes slideOutTop {
  from {
    top: 0;
  }

  to {
    top: -100%;
  }
}

@keyframes slideInBottom {
  from {
    bottom: -100%;
  }

  to {
    bottom: 0;
  }
}

@keyframes slideOutBottom {
  from {
    bottom: 0;
  }

  to {
    bottom: -100%;
  }
}

$modal-speed: 0.5s;

.modal {
  position: static;

  &.on-top {
    z-index: $highest-z-index;
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fadeIn $modal-speed;

    &.closing,
    &.closed {
      animation: fadeOut $modal-speed;
      opacity: 0;
    }
  }

  .modal-box {
    position: absolute;
    z-index: $highest-z-index;
    background-color: #fff;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    &.center-fix {
      top: 50vh;
    }

    &.left {
      left: 0;
      right: auto;
      transform: translate(0, -50%);
      animation: slideInLeft $modal-speed;

      &.closing {
        animation: slideOutLeft $modal-speed;
      }
    }

    &.right {
      right: 0;
      left: auto;
      transform: translate(0, -50%);
      animation: slideInRight $modal-speed;

      &.closing {
        animation: slideOutRight $modal-speed;
      }
    }

    &.top {
      top: 0;
      bottom: auto;
      transform: translate(-50%, 0);
      animation: slideInTop $modal-speed;

      &.closing {
        animation: slideOutTop $modal-speed;
      }
    }

    &.bottom {
      top: auto;
      bottom: 0;
      transform: translate(-50%, 0);
    }

    &.full-width {
      left: 0;
      right: 0;
      transform: translate(0, -50%);

      &.top,
      &.bottom,
      &.full-height {
        transform: none;
      }
    }

    &.full-height {
      top: 0;
      bottom: 0;
      transform: translate(-50%, 0);

      &.left,
      &.right,
      &.full-width {
        transform: none;
      }
    }

    .modal-header {
      padding: 20px;
    }

    .modal-close {
      position: absolute;
      cursor: pointer;
      right: 5px;
      top: 5px;
    }

    .modal-body {
      padding: 20px;
    }
  }
}