@use '~modern-normalize/modern-normalize';
@use '~@fortawesome/fontawesome-pro/css/all.min';
@use 'components/modal';
@use 'components/header';
@use 'components/footer';
@use 'components/menu';
@use 'components/exit';
@use 'components/content';
@use 'components/fade-in';



body {
  background-color: #222;
}

.app {
  margin: auto;
  max-width: 1024px;
  background-color: #fff;
  min-height: 768px;
  position: relative;
  overflow: hidden;
}

.page {
  padding: 30px;
}

button {
  cursor: pointer;
}